
{% load static %}
        {% block content %}
        <style type="text/css">
        .StripeElement {
            box-sizing: border-box;
            height: 40px;
            padding: 10px 12px;
            border: 1px solid transparent;
            border-radius: 4px;
            background-color: white;
            box-shadow: 0 1px 3px 0 #e6ebf1;
            -webkit-transition: box-shadow 150ms ease;
            transition: box-shadow 150ms ease;
        }
        .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
        }
        .StripeElement--invalid {
        border-color: #fa755a;
        }
        .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
        }   
        </style>

<script src="https://js.stripe.com/v3/"></script>
    <div class="container" style="padding:25%; padding-top: 0px;">
        <h2 class="border-bottom mb-4">Payment for {{item.get_total_cost}}Rs</h2>
        <form action="{% url 'scharge' item.id %}" method="post" id="payment-form">
        {% csrf_token %}
            <div class="form-field">
                <input required type="text" name="email" placeholder="Your Email" style="margin-right:300px;padding:10px;padding-right: 40px">
                <input required type="text" name="name" placeholder="Name on card" style="padding:10px;padding-right: 40px">
            </div>
            <br>
            <div class="form-row">
                <label for="card-element">
                    Credit or debit card
                </label>
                <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
            </div>
            <div style="clear:left"></div>
              <hr>

            <button style="padding:10px">Submit Payment</button>
        </form>
    </div>



        <script>
           // Create a Stripe client.
           var stripe = Stripe('pk_test_51HqIOnLC1dFeExGNstOVy9DHJTnoea6QmDvIhNKflGWCY2B6cmqqrmRoUe7BybBJ4DdcV2yroBN0iDfkbLrQ3H8S00IcbS6lbH');
            // Create an instance of Elements.
                var elements = stripe.elements();
            // Custom styling can be passed to options when creating an Element.
            // (Note that this demo uses a wider set of styles than the guide below.)
                var style = {
                    base: {
                    color: '#32325d',
                    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                    fontSmoothing: 'antialiased',
                    fontSize: '16px',
                    '::placeholder': {
                    color: '#aab7c4'
                    }
                 },
                invalid: {
                    color: '#fa755a',
                    iconColor: '#fa755a'
                    }
                };
            // Create an instance of the card Element.
            var card = elements.create('card', {style: style});
            // Add an instance of the card Element into the `card-element` <div>.
            card.mount('#card-element');
            // Handle real-time validation errors from the card Element.
            card.on('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
            displayError.textContent = event.error.message;
            } else {
            displayError.textContent = '';
            }
            });
            // Handle form submission.
            var form = document.getElementById('payment-form');
            form.addEventListener('submit', function(event) {
            event.preventDefault();
            stripe.createToken(card).then(function(result) {
            if (result.error) {
            // Inform the user if there was an error.
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server.
            stripeTokenHandler(result.token);
            }
            });
            });
            // Submit the form with the token ID.
            function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);
            // Submit the form
            form.submit();
        }

          </script>
       
        {% endblock content%}